

/* .bgcolor {
  background-color: rgb(55, 55, 55);
  background-color: rgba(55, 55, 55, 0.5);
} */
.bgcolor {
  position: relative; 
  /* height: 100vh; */
  /* width: 100%; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.bgcolor::before {    
    content: "";
    /* background-image: url('https://placekitten.com/1200/800');*/
    background-size: cover;  
    position: absolute;
    /* top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; */
    /* opacity: 0.75; */
    content: "";
    background-color: rgba(0,0,0,.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

